name: Build TDLib server
on:
  workflow_dispatch:
  push:
    branches:
      - "main"

    paths:
      - "internal/server/version.go"

jobs:
  build-and-draft:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Version
      id: version
      run: |
        echo "VERSION=$(sed -n 's/const Version = "\([^"]*\)"/\1/p' internal/server/version.go)" >> $GITHUB_OUTPUT

    - name: Build static
      run: |
        mkdir -p release-assets

        docker run --rm -v "$PWD:/work" -w /work quay.io/pypa/manylinux2014_x86_64 \
          bash -c '
          curl -s https://raw.githubusercontent.com/AYMENJD/tdjson/refs/heads/main/.github/workflows/scripts/before-all-linux-64.sh | bash

          curl -OL https://go.dev/dl/go1.21.0.linux-amd64.tar.gz
          tar -C /usr/local -xzf go1.21.0.linux-amd64.tar.gz
          rm -f go1.21.0.linux-amd64.tar.gz
          export PATH=$PATH:/usr/local/go/bin

          make static

          mv bin/tdlib-server release-assets/tdlib-server-linux-amd64
          chmod +x release-assets/tdlib-server-linux-amd64
          '

    - name: Check build
      run: |
        ls -lh release-assets/
        ldd release-assets/tdlib-server-linux-amd64

    - name: Create release
      uses: softprops/action-gh-release@v1
      with:
        draft: false
        name: TDLib Server v${{ steps.version.outputs.VERSION }}
        tag_name: v${{ steps.version.outputs.VERSION }}
        files: release-assets/tdlib-server-linux-amd64
        token: ${{ secrets.GIT_ACCESS_TOKEN }}
